page-page1 {
  .page-title{
    position: relative;
    ion-title{
      position: absolute;
      top: 50%;
      margin-top: -15px;
    }
  }
  .nav-search{
    input{
      background: #fff;
      border: solid #ddd 2px;
      padding: 5px;
      margin: 0;
      width: 100%;
    }
  }
  .wrap {
    display: table !important;
    width: 100% !important;
    height: 100% !important;
    margin-top: -50px;
    text-align: center;
  }
  .button-wrap {
    display: table-cell;
    vertical-align: middle;
  }
}
