page-page1 {
  .wrap {
    display: table !important;
    width: 100% !important;
    height: 100% !important;
    margin-top: -50px;
    text-align: center;
  }
  .button-wrap {
    display: table-cell;
    vertical-align: middle;
  }
}
